.banner {
display:block;
margin-left:auto;
margin-right:auto;
height:450px;
width:1300px;
border-radius:10px;
animation:appear 0.7s ease-in-out;
box-shadow:0px 0px 20px 20px rgba(0,0,0,0.5);
opacity:0.6;
}
.icon {
    transition:0.4s;
background-color:white;
width:50px;
height:50px;
border-radius:100%;
opacity:0.5;
animation: spin 2.5s ease;
padding:5px 5px;
cursor:pointer;
}
.title {
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: #2D1700;
overflow: hidden;
text-align: center;
font-family: 'Play', sans-serif;
font-family: 'Play', sans-serif;
transform: translateY(-160%);
animation:text-appear 0.7s ease-in-out;
}
.new {
position:absolute;
color:#f67575;
font-family: 'Onest', sans-serif;
font-size:15px;
animation:jump 1s ease infinite;
}
h2 {
font-family: 'Play', sans-serif;
color:white;
font-size:65px;
text-align:center;
animation:appear 0.7s ease-in-out;
border-bottom:7px groove white;
}
header h1 {
font-size:80px;
}
header h3 {
font-size:30px;
color:#522F0C;
}
body {
background-color:#121421;
}
span {
color:#996D40;
font-family: 'Onest', sans-serif;
}

@keyframes jump {
0% { 
transform:scale(0.9) translateX(35px) rotate(20deg);
}
50% {
transform:scale(1) translateX(35px) rotate(20deg);
color:#fea3a3;
}
100%{
transform:scale(0.9) translateX(35px) rotate(20deg);
}
}

@keyframes appear {
0% {
opacity:0;
transform:scale(0.95);
};
100% {
opacity:1;
transform:scale(1);
};
}

@keyframes text-appear {
0% {
opacity:0;
transform:translateY(-85%);
};
50% {
opacity:0.4;
}
100% {
opacity:1;
transform:translateY(-160%);
};
}

@keyframes spin {
from {
transform:rotate(0deg);
}
to { 
transform:rotate(360deg);
}

}

.price {
color:#C89A6C;
font-size:25px;
font-family: 'Onest', sans-serif;
display:block;
padding-bottom:10px;
}
.old-price {
text-decoration:line-through;
color:#772828;
font-size:22px;
}
.new-price {
font-size:25px;
color:#d1975d
}
header .card {
display:block;
margin-left:auto;
margin-right:auto;
font-family: 'Play', sans-serif;
}
.new-coffee {
font-size:40px;
color:#ca731c
}
.card {
    background: #0c0c1c;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width:400px;
    border: 1px outset #19192D;
    animation:appear 0.7s ease-in-out;
}
.card-image {
    width: 100%;
    object-fit: contain;
    display: block;
    background-color:#0C0C1C;
}
.card-btn {
display: inline-block;
height:50px;
width:405px;
border-radius: 12px;
background-color: #080830;
border: 2px solid #262648;
color:#4F4F70;
text-align: center;
font-size:20px;
font-family: 'Onest', sans-serif;
}
.card-btn:hover {
    transition: 0.5s;
background-color: #3A3A5F;
color:#696981;
font-size:22px;
}
.card-btn:active {
    transition: 0.1s;
background-color: #080830;
font-size:18px
}
main h3 {
font-size:40px;
color:beige;
font-family: 'Play', sans-serif;
}